@* @model List<Person> *@

@{
    ViewData["Title"] = "People Page";
}

<div class="text-center">
    <h1 class="display-4">People List</h1>
    <table class="table">
        <thead>
            <tr>
                <th scope="col">#</th>
                <th scope="col">Full Name</th>
                <th scope="col">Gender</th>
                <th scope="col">Date Of Birth</th>
                <th scope="col">Age</th>
                <th scope="col">Birth Place</th>
            </tr>
        </thead>
        <tbody>
            @if (Model != null)
            {
                @for (var index = 1; index <= Model.Count; index++)
                {
                    var person = Model[index - 1];
                    <tr>
                        <th scope="row">@index</th>
                        <td>@person.FullName</td>
                        <td>@person.Gender</td>
                        <td>@person.DateOfBirth.ToString("dd MMM yyyy")</td>
                        <td>@person.Age</td>
                        <td>@person.BirthPlace</td>
                    </tr>
                }
            }
        </tbody>
    </table>
</div>